<h4>{{{title}}}</h4>
{{#photos}}
	<a title="Display within post" rel="nofollow" href="/{{id}}"><img src="{{size.thumb.url}}" width="{{size.thumb.width}}" height="{{size.thumb.height}}"/></a>
{{/photos}}