<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
	{{> head-meta}}
	{{> head-files}}
	{{> ga}}
	{{{block "head"}}}
	<style type="text/css">
		#bug, #links, #tag-navigation { position: fixed; }
	</style>
	<script type="text/javascript">
		{{! features determine which scripts to load }}
		window.feature = { sideMenu: true, postMenu: false, twitter: true, facebook: false, timestamp: {{config.timestamp}} };
	</script>
</head>
<body>
	{{! adjust header size for some pages }}
	<header class="page content{{#if headerCSS}} {{headerCSS}}{{/if}}">
		<!--googleoff: index-->
		<nav id="mobile-menu"></nav>
		<!--googleon: index-->
		<div id="top-bar">
			<h1>{{title}}</h1>
			{{#if subtitle}}<h4>{{subtitle}}</h4>{{/if}}
			<div id="mobile-menu-button">{{{icon "menu-hamburger"}}}</div>
		</div>
	</header>
	{{> side-menu}}
	{{{body}}}
	{{> footer}}
</body>
</html>