<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
	{{> head-meta}}
	<meta content='{{setting.keywords}}' name='keywords'/>
	{{> head-files}}
	{{> ga}}
	{{{block "head"}}}
	<style type="text/css">
		#bug, #links, #tag-navigation { position: fixed; }
	</style>
	<script type="text/javascript">
		window.feature = { sideMenu: true, postMenu: false, twitter: true, facebook: false, timestamp: {{setting.timestamp}} };
	</script>
</head>
<body>
	<div id="header" class="content simple">
		<!--googleoff: index-->
		<div id="mobile-menu"></div>
		<!--googleon: index-->
		<div id="top-bar">
			{{{block "title"}}}
			<div id="mobile-menu-button">{{{icon "menu-hamburger"}}}</div>
		</div>
	</div>
	{{> head-links}}
	{{> bug}}
	{{{body}}}
	{{> footer}}
</body>
</html>