<html>
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
		{{> html-head}}
	{{#if keywords}}
		<meta content='Adventure, Scenery, Photography, {{keywords}}' name='keywords'/>
	{{else}}
		<meta content='BMW R1200GS, KTM XCW, jeep wrangler, motorcycle, motorcycling, riding, adventure, Jason Abbott, Abbott, outdoors, scenery, idaho, mountains' name='keywords'/>
	{{/if}}
		<script src='/js/menu.js?t={{setting.timestamp}}' type='text/javascript' defer></script>
		<script src='/js/ti.js' type='text/javascript' defer></script>
		<meta property='og:site_name' content='{{setting.title}}' />
		<meta property='og:description' content='{{description}}' />
		{{> html-head}}
		{{> ga}}
		{{> twitter}}
		{{{block "head"}}}
	</head>
	<body>
		<div id='content'></div>
		<div id='links'>
			<div class="google-search"><!--suppress CheckTagEmptyBody -->
				<gcse:searchbox-only resultsUrl="/search" enableAutoComplete="true"></gcse:searchbox-only></div>
			<div class="twitter"><a href="https://twitter.com/trailimage" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow</a></div>
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/contact">Contact</a>
			<!--<a href="/featured">Featured</a>-->
			<a href="/ruminations">Ruminations</a>
			<a href="/rss" class="feed-icon">RSS Feed</a>
		</div>
		<a id="bug" itemprop="creator" itemscope itemtype='http://schema.org/Person' href="/about">
			<h1>Trail Image</h1>
			<h2>Photography</h2>
			<h3 itemprop='name'>Jason Abbott</h3>
		</a>
		{{{body}}}
		{{{block "afterBody"}}}
	</body>
</html>