<html>
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
		{{> head-meta}}
	{{#if keywords}}
		<meta content='Adventure, Scenery, Photography, {{keywords}}' name='keywords'/>
	{{else}}
		<meta content='{{setting.keywords}}' name='keywords'/>
	{{/if}}
		{{> head-files}}
		<script src='/js/menu.js?t={{setting.timestamp}}' type='text/javascript' defer></script>
		{{> ga}}
		{{> twitter}}
		{{{block "head"}}}
	</head>
	<body>
		<div id='content'></div>
		{{> head-links}}
		<a id="bug" itemprop="creator" itemscope itemtype='http://schema.org/Person' href="/about">
			<h1>Trail Image</h1>
			<h2>Photography</h2>
			<h3 itemprop='name'>Jason Abbott</h3>
		</a>
		{{{body}}}
		{{{block "afterBody"}}}
	</body>
</html>