<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
	{{> head-meta}}
	<meta content='{{setting.keywords}}' name='keywords'/>
	{{> head-files}}
	{{> ga}}
	{{{block "head"}}}
	<style type="text/css">
		#bug, #links, #tag-navigation { position: fixed; }
	</style>
	<script type="text/javascript">
		window.feature = { sideMenu: true, postMenu: false, twitter: true, facebook: false, timestamp: {{setting.timestamp}} };
	</script>
</head>
<body>
	{{> head-links}}
	{{> bug}}
	{{{body}}}
	{{> footer}}
</body>
{{{block "afterBody"}}}
</html>