<html>
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
		{{> head-meta}}
	{{#if keywords}}
		<meta content='Adventure, Scenery, Photography, {{keywords}}' name='keywords'/>
	{{else}}
		<meta content='{{setting.keywords}}' name='keywords'/>
	{{/if}}
		<script type="text/javascript">
			window.feature = { sideMenu: false, postMenu: true, twitter: true, facebook: true, timestamp: {{setting.timestamp}} };
		</script>
		{{> head-files}}
		{{> ga}}
		{{{block "head"}}}
	</head>
	<body>
		{{> head-links}}
		{{> bug}}
		{{{body}}}
		{{> footer}}
	</body>
</html>