
<p class='stats'>
	<a href="/">Home</a> &bull;
	<a href='https://cloud.google.com/console#/project/{{setting.google.projectID}}'>Map API</a> &bull;
	<a href='https://www.facebook.com/insights/?sk=wo_{{setting.facebook.siteID}}'>Facebook Insights</a> &bull;
	<a href='https://www.google.com/webmasters/tools/dashboard?hl=en&siteUrl=http://trailimage.com/&authuser=0'>Google Webmaster</a>  &bull;
	<a href='https://www.google.com/analytics/web/#report/visitors-overview/a{{setting.google.analyticsID}}w43724061p43759940/'>Google Analytics</a>
</p>

<div id="logs">
	<table>
		<tbody>
		{{#logs}}
			<tr class='{{level}}'><td class='timestamp'>{{formatLogTime timestamp}}</td><td>{{message}}</td></tr>
		{{/logs}}
		</tbody>
	</table>
</div>