<html>
<head>
	<title>Administration</title>
	<!--suppress ALL -->
	<meta name="robots" content="noindex">
	<link href='/css/admin.css' rel='stylesheet' type='text/css'/>
	<link href='/img/favicon.ico' rel='shortcut icon'/>
	<link href='/img/favicon.ico' rel='icon' type='image/vnd.microsoft.icon'/>
	<script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js' type='text/javascript'></script>
	<script src='/js/admin.js' type='text/javascript'></script>
</head>
<body>
	<div id="caching" class="column">
		<h2>Caching</h2>

		<form id="models" action="/admin/model/reload">
			<fieldset id="models">
				<legend>Models</legend>
			{{#if models}}
				<button type="submit">Reload</button>
				<select name="models" multiple>
					{{#models}}
						<option value="{{this}}">{{this}}</option>
					{{/models}}
				</select>
			{{/if}}
				<div class="message"></div>
			</fieldset>
		</form>

		<form id="views" action="/admin/view/delete">
			<fieldset>
				<legend>Views</legend>
			{{#if views}}
				<button type="submit">Delete</button>
				<select name="views" size="15" multiple>
					{{#views}}
						<option value="{{this}}">{{this}}</option>
					{{/views}}
				</select>
				<input id="track" type="checkbox" name="include-track"/><label for="track">Also delete map</label>
			{{else}}
				No views are cached
			{{/if}}
				<div class="message"></div>
			</fieldset>
		</form>
	</div>

{{#if logs}}
	<div class="column" id="logs">
		<h2>Logs</h2>
		<table>
			<tbody>
			{{#each logs}}
				<tr class='head'><td colspan='2'>{{@key}}</td></tr>
				{{#this}}
					<tr class='{{level}}'><td>{{{message}}}</td><td class='timestamp'>{{timestamp}}</td></tr>
				{{/this}}
			{{/each}}
			</tbody>
		</table>
	</div>
{{/if}}

	<div class="column" id="reference">
		<h2>APIs and Statistics</h2>
		<fieldset id="statistics">
			<legend>Statistics</legend>
			<ul>
				<li><a href='https://www.google.com/analytics/web/#report/visitors-overview/a{{config.google.analyticsID}}w43724061p43759940/'>Google Analytics</a></li>
				<li><a href='https://www.google.com/webmasters/tools/dashboard?hl=en&siteUrl=http://www.trailimage.com/&authuser=0'>Google Webmaster</a></li>
				<li><a href='https://www.bing.com/webmaster/home/dashboard?url=http%3A%2F%2Fwww.trailimage.com%2F'>Bing Webmaster</a></li>
				<li><a href='/wwwhisper/admin/'>WWWHisper</a></li>
				<li><a href='https://www.facebook.com/insights/?sk=wo_{{config.facebook.siteID}}'>Facebook Insights</a></li>
				<li><a href='https://www.flickr.com/photos/trailimage/stats/'>Flickr Statistics</a></li>
				<li><a href='http://www.panoramio.com/user/5644534/stats'>Panoramio Statistics</a></li>
			</ul>
			<div class="message"></div>
		</fieldset>

		<fieldset id="api-keys">
			<legend>API Keys</legend>
			<ul>
				<li><a href='https://cloud.google.com/console#/project/{{config.google.projectID}}'>Map API</a></li>
				<li><a href='https://www.flickr.com/services/apps/{{config.flickr.appID}}/key'>Flickr API</a></li>
			</ul>
		</fieldset>
	</div>
</body>
</html>