{{#contentFor "head"}}
	<script type='text/javascript'>
		$(document).ready(function()
		{
			var $posts = $('#posts').find('input[type=checkbox]');
			var $issues = $('#issues');

			$('#select-all').click(function()  { $posts.prop('checked', true); });
			$('#select-none').click(function() { $posts.prop('checked', false); });

			$issues.find('select').change(function()
			{
				var $selected = $issues.find('option:selected');

				$('#issue-doc').val($selected.val());
				$('#issue-slug').val($selected.text());
			});

			$issues.find('button').click(function()
			{
				var $selected = $issues.find('option:selected');
				var action = $(this).data('action');
				var slug = $('#issue-slug').val();
				var docID = $('#issue-doc').val();

				$.ajax({
					dataType: 'json',
					url: '/admin/issue/'+action+'/',
					data: {'slug': slug, 'docID': docID, 'originalSlug': $selected.text() },
					success: function(response)
					{
						if (response.success)
						{
							switch (action)
							{
								case 'save':
									if ($selected.text() == 'New')
									{
										// add option
										$issues.find('select').append($('<option/>').val(docID).html(slug));
									}
									else
									{
										// update option
										$selected.text(slug);
										$selected.val(docID);
									}
									break;
								case 'delete':
									$issues.find('li[value=' + docID + ']').remove();
									break;
							}
						}
						else
						{
							alert('Failed to save ' + slug);
						}
					}
				});
			});
		});
	</script>
{{/contentFor}}

<div id="logs">
	<table>
		<tbody>
		{{#each logs}}
			<tr class='head'><td colspan='2'>{{@key}}</td></tr>
			{{#this}}
			<tr class='{{level}}'><td>{{message}}</td><td class='timestamp'>{{timestamp}}</td></tr>
			{{/this}}
		{{/each}}
		</tbody>
	</table>
</div>

<div id="body">

	<fieldset id="posts">
		<legend>Posts</legend>
		<div class="buttons">Select <button id="select-all">All</button><button id="select-none">None</button></div>
		<div class="scroll">
			<ul>
		{{#each library.posts}}
				<li><label><input type='checkbox'/>{{this.name}}</label></li>
		{{/each}}
			</ul>
		</div>
		<div class="buttons"><button>Clear Cache</button></div>
	</fieldset>

	<fieldset id="statistics">
		<legend>Statistics</legend>
		<ul>
			<li><a href='https://www.facebook.com/insights/?sk=wo_{{setting.facebook.siteID}}'>Facebook Insights</a></li>
			<li><a href='https://www.google.com/webmasters/tools/dashboard?hl=en&siteUrl=http://trailimage.com/&authuser=0'>Google Webmaster</a></li>
			<li><a href='https://www.google.com/analytics/web/#report/visitors-overview/a{{setting.google.analyticsID}}w43724061p43759940/'>Google Analytics</a></li>
		</ul>
	</fieldset>

	<fieldset id="issues">
		<legend>Issues</legend>
		<select>
			<option>New</option>
		{{#each issues}}
			<option value="{{this}}">{{@key}}</option>
		{{/each}}
		</select>
		<input type="text" id="issue-slug" placeholder="Slug"/>
		<input type="text" id="issue-doc" placeholder="Document ID"/>
		<div class="buttons">
			<button data-action="delete">Delete</button>
			<button data-action="save">Save</button>
		</div>
	</fieldset>

	<fieldset id="api-keys">
		<legend>API Keys</legend>
		<ul>
			<li><a href='https://cloud.google.com/console#/project/{{setting.google.projectID}}'>Map API</a></li>
		</ul>
		<div class="buttons">
			<button>Flickr Token</button>
		</div>
	</fieldset>
</div>