<ul id="tag-navigation">
   <li class="head">Other Posts</li>
   {{#each blog.categories}}
   <li class="title {{this.title}}">{{{iconForCategory this.title}}}{{this.title}}
      <ul>
         {{#each this.subcategories}}
         <li>
            <a href="/{{this.key}}" rel="tag">{{this.title}}</a>({{this.posts.size}})</li>
         {{/each}}
      </ul>
   </li>
   {{/each}}
</ul>