{{#contentFor "head"}}
	<meta name="robots" content="noindex">
	{{> json-ld}}
{{/contentFor}}

<div class="category content">
	<section class="posts">
	{{#posts}}
		<article class="summary">
			<header class="post">
				<ul class="info">
					<li class="date-taken">{{date happenedOn}}</li>
   {{#if photoCount}}<li class="photo-count">{{photoCount}} photos{{#if video}} and a video{{/if}}</li>{{/if}}
				</ul>
				<a class="title" href="/{{key}}">{{title}}{{#if subTitle}}: <span class="subtitle">{{subTitle}}</span>{{/if}}</a>
				<span class="mode-icon {{modeIconForPost categories}}"></span>
				<div class="clear"></div>
			</header>

			<a class="thumb" title="View story" href="/{{key}}"><img src="{{coverPhoto.size.preview.url}}" width="{{coverPhoto.size.preview.width}}" height="{{coverPhoto.size.preview.height}}" style="width: {{coverPhoto.size.preview.width}}px; height: {{coverPhoto.size.preview.height}}px;"/></a>
		{{#if photoMarkers}}
			<a class="map" title="View map" href="/{{key}}/map" rel="nofollow"><img src="https://api.mapbox.com/styles/v1/{{../config.mapbox.style.static}}/static/{{photoMarkers}}/auto/{{subtract 650 coverPhoto.size.preview.width}}x{{mapHeight coverPhoto.size.preview.width coverPhoto.size.preview.height}}?access_token={{../config.mapbox.accessToken}}&attribution=false&logo=false" width="{{subtract 650 coverPhoto.size.preview.width}}" height="{{mapHeight coverPhoto.size.preview.width coverPhoto.size.preview.height}}"/></a>
		{{/if}}
			<section class="detail">
				<p class="summary">{{description}}</p>
				<ul class="categories">
				{{#each categories}}
					{{! posts store their categories as titles keyed to the slug }}
					<li><a href="/{{@key}}" rel="tag">{{{icon 'more'}}}{{this}}</a></li>
				{{/each}}
				</ul>
			</section>
			<div class="clear"></div>
		</article>
	{{/posts}}
	</section>
</div>