{{#contentFor "html-head"}}
	{{> json-ld}}
{{/contentFor}}

<div class="root-category content">
	{{{iconForCategory title}}}
	<ul>
	{{#each subcategories}}
		<li><a href="/{{key}}" rel="tag">{{title}}</a>({{posts.length}} post{{plural posts.length}})</li>
	{{/each}}
	</ul>
</div>