<ul>
{{#if EXIF.model}}<li class="camera">{{EXIF.model}}</li>{{/if}}
{{#if EXIF.lens}}<li class="lens">{{EXIF.lens}}</li>{{/if}}
{{#if EXIF.focalLength}}<li class="focal-length">(at {{EXIF.focalLength}})</li>{{/if}}
{{#if EXIF.ISO}}<li class="iso">ISO {{EXIF.ISO}}</li>{{/if}}
{{#if EXIF.time}}<li class="shutter">{{EXIF.time}} second</li>{{/if}}
{{#if EXIF.fNumber}}<li class="aperture">ƒ{{EXIF.fNumber}}</li>{{/if}}
{{#if EXIF.compensation}}<li class="compensation">{{EXIF.compensation}} compensation</li>{{/if}}
{{#if EXIF.software}}<li class="software">{{EXIF.software}}</li>{{/if}}
</ul>



