<ul>
{{#if exif.model}}<li class="camera">{{exif.model}}</li>{{/if}}
{{#if exif.lens}}<li class="lens">{{exif.lens}}</li>{{/if}}
{{#if exif.focalLength}}<li class="focal-length">(at {{exif.focalLength}})</li>{{/if}}
{{#if exif.ISO}}<li class="iso">ISO {{exif.ISO}}</li>{{/if}}
{{#if exif.time}}<li class="shutter">{{exif.time}} second</li>{{/if}}
{{#if exif.fNumber}}<li class="aperture">ƒ{{exif.fNumber}}</li>{{/if}}
{{#if exif.compensation}}<li class="compensation">{{exif.compensation}} compensation</li>{{/if}}
{{#if exif.software}}<li class="software">{{exif.software}}</li>{{/if}}
</ul>



