{{> facebook-head}}

<div id="page">
	<div id="content">
		<div id="header">
			<h1>{{setting.title}}</h1>
			{{> menu}}
		</div>

		<div class="fb-like" data-href="http://{{setting.domain}}/{{info.id}}" data-send="true" data-width="450" data-show-faces="true" data-font="trebuchet ms"></div>

		<blockquote class="synopsis">
			<p>Welcome<p>
		</blockquote>

		{{#set.photo}}

			<div class="frame">
				<a href="{{url_k}}" alt="Enlarge" title="Enlarge">
					<img src="{{url_l}}" alt="{{title}}"
					     width="{{width_l}}" height="{{height_l}}"
					     style="width: {{width_l}}px; height {{height_l}}px;"
					     data-longitude="{{longitude}}" data-latitude="{{latitude}}"
					     data-size1024="{{url_l}}"
					     data-size1600="{{url_h}}"
					     data-size2048="{{url_k}}"/>
				</a>
			</div>

		{{/set.photo}}

		<div class="fb-comments" data-href="http://{{setting.domain}}/{{info.id}}" data-width="500" data-num-posts="20"></div>

		{{> footer}}
	</div>
</div>