<iframe id="google-doc" width="100%" frameborder="0" src="https://docs.google.com/document/d/{{docID}}/pub?embedded=true"></iframe>

<div id="meta" itemprop="creator" itemscope itemtype='http://schema.org/Person'>
	<h1 itemprop='name'>Jason Abbott</h1>
	<h2>Issue Commentary</h2>

	<div class="twitter"><a href="https://twitter.com/trailimage" class="twitter-share-button" data-show-count="false" data-show-screen-name="false">Follow</a></div>
	<div class="fb-like" data-href="http://{{setting.domain}}/issue/{{slug}}/" data-send="true" data-width="300" data-show-faces="true" data-font="trebuchet ms"></div>

	<p><span class="quote">&ldquo;As iron sharpens iron, so one man sharpens another&rdquo; (<a href="http://www.biblegateway.com/passage/?search=Proverbs%2027:17">Proverbs 17:17</a>).</span>
		Oppositional dialog has for decades been my favorite means of exploring an issue. Weeks, months and sometimes years of exchanges with friends and strangers have turned me 180ยบ on several fundamental perspectives. I hope to always be learning from such exchanges.
	<p>

	<ul>
		<li>Because of the idiosyncrasies of displaying a dynamic Google Document, it seems <strong>you must Ctrl-click links to make them open</strong> {{{icon 'share'}}}</li>
		<li>Comments are quoted verbatim from their original sources without correction to spelling or grammar though I may add <span class="highlight">yellow highlighting</span> and fix line wrapping for display here.</li>
	</ul>

	<p class="rights">&#169; Copyright 2014 Jason Abbott unless otherwise attributed. All Rights Reserved.</p>

	<div class="fb-comments" data-href="http://{{setting.domain}}/issue/{{slug}}/" data-width="320" data-num-posts="20"></div>
</div>



