<iframe id="google-doc" width="100%" frameborder="0" src="https://docs.google.com/document/d/{{docID}}/pub?embedded=true"></iframe>

<div id="overlay"></div>

<div id="menu">
	<a title="About">{{{icon 'align-justify'}}}</a>
</div>

<div id="meta" itemprop="creator" itemscope itemtype='http://schema.org/Person'>
	<div class="menu">{{{icon 'remove'}}}</div>
	<a class="home" title="View Issue Index" href="/issue"><h1 itemprop='name'>Jason Abbott</h1></a>
	<h2>Issue Commentary</h2>

	<div class="fb-like" data-href="http://{{setting.domain}}/issue/{{slug}}/" data-send="true" data-width="300" data-show-faces="true" data-font="trebuchet ms"></div>

	<p><span class="quote">&ldquo;As iron sharpens iron, so one man sharpens another&rdquo; (<a href="http://www.biblegateway.com/passage/?search=Proverbs%2027:17">Proverbs 17:17</a>).</span>
		Oppositional dialog has for decades been my favorite means of exploring an issue. Weeks, months and sometimes years of exchanges with friends and strangers have turned me 180ยบ on several fundamental perspectives. I hope always to be learning from such conversations.
	<p>

	<ul>
		<li>The idiosyncrasies of embedding a dynamic Google Document mean <strong>you must Ctrl-click links to reliably open them</strong> {{{icon 'share'}}}</li>
		<li>Comments are quoted verbatim from their original sources without correction to spelling or grammar though I may add <span class="highlight">yellow highlighting</span> and fix line wrapping for display here.</li>
	</ul>

	<p class="rights">&#169; Copyright 2014 Jason Abbott unless otherwise attributed. All Rights Reserved.</p>
</div>



