<html>
<head>
	{{> head-meta}}
	{{> head-files}}
	<meta content='{{config.keywords}}' name='keywords'/>
	<meta name="robots" content="noindex">
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<link href='/css/map.css' rel='stylesheet' type='text/css'/>
	<script type='text/javascript'>
		var mapSlug = '{{slug}}';
		var mapPhotoID = {{photoID}};
		var allowDownload = {{#if config.map.allowDownload}}true{{else}}false{{/if}};
	</script>
	<script src='/js/map.js' type='text/javascript' defer></script>
</head>
<body>
	<div id="map-canvas"></div>
	<a id="gpx-download" href="/{{slug}}/gpx">Download GPX {{{icon 'save'}}}</a>
	<a id="back" href="/{{slug}}">{{{icon 'chevron-left'}}} View Post</a>

	{{> post-menu}}
	<dl id="summary">
		<dt>Track Miles</dt>
		<dd id="distance">0</dd>
		<dt>Track Hours</dt>
		<dd id="duration">0</dd>
		<dt id="top-speed-label">Top Speed</dt>
		<dd id="top-speed">0</dd>
		<dt id="avg-speed-label">Avg Speed</dt>
		<dd id="avg-speed">0</dd>
	</dl>
</body>
</html>