<html>
<head>
	{{> head-meta}}
{{#if post}}
   {{! https://developers.facebook.com/docs/reference/opengraph/object-type/place/ }}
   <meta property='og:title' content='{{post.name}} Map'/>
   <meta property='fb:app_id' content='{{config.facebook.appID}}'/>
   <meta property='fb:admins' content='{{config.facebook.adminID}}' />
   <meta property='og:url' content='{{config.site.url}}/{{post.key}}/map'/>
   <meta property='og:image' content='{{post.bigThumbURL}}'/>
   <meta property='og:type' content='place'/>
   {{#if post.centroid}}
   <meta property='place:location:longitude' content="{{post.centroid.lon}}"/>
   <meta property='place:location:latitude' content="{{post.centroid.lat}}"/>
   {{/if}}
{{/if}}
   <link href='/img/favicon.ico' rel='shortcut icon'/>
   <link href='/img/favicon.ico' rel='icon' type='image/vnd.microsoft.icon'/>
   {{> ga}}
   <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.css' rel='stylesheet' />
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link href='/css/mapbox.css' rel='stylesheet' type='text/css'/>
   <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.js'></script>
   <script src='//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' type='text/javascript'></script>
   <script type='text/javascript'>
      {{! values used within mapbox.js }}
      mapboxgl.accessToken = '{{config.mapbox.accessToken}}';
      var mapStyle = '{{config.mapbox.style.dynamic}}';
{{#if post}}
      var post = {
         key: '{{key}}',
         photoID: {{photoID}},
         bounds: {{{json post.bounds}}}
      };
{{else}}
      var post = null;
{{/if}}
	</script>
	<script src='/js/mapbox.js' type='text/javascript' defer></script>
   {{> json-ld}}
</head>
<body>
   <nav>
      <a href='/' title='{{config.site.title}} Home'><img class='logo' src='/img/logo-small.png'/></a>
      <div id='photo-count'><img src="/p.png"/><div></div>photos</div>
      <button class='toggle-legend'>{{{icon 'help'}}}{{{icon 'help_outline'}}}</button>
      <button class='zoom-out disabled'>{{{icon 'zoom_out_map'}}}<p>Zoom Out</p></button>
{{#if post }}
      <button class='post-info'>{{{icon 'info'}}}<p><b>{{post.name}}</b>{{post.description}}</p></button>
   {{#if config.map.allowDownload }}
      <button class='gpx-download link' data-link="/{{post.key}}/gpx" rel="nofollow">{{{icon 'file_download'}}}<p>Download GPX</p></button>
   {{/if}}
	   <button class='back link' data-link="/{{post.key}}">{{{icon 'assignment_return'}}}<p>View Blog Post</p></button>
{{/if}}
      <button class='google-earth map-link' data-link='{{{config.map.link.googleEarth}}}'>
         {{{icon '3d_rotation'}}}<p>View in Google Earth</p>
      </button>
      <button class='gaia-gps map-link' data-link='{{{config.map.link.gaiaGPS}}}'>
         {{{icon 'system_update'}}}<p><b>View in Gaia GPS</b>Draw routes and download to the mobile app</p>
      </button>
   </nav>

   <ul id='legend'>
      <li class='toggle'>
         <p>Legend</p>
         {{{ icon 'expand_more' }}}
         {{{ icon 'expand_less' }}}
      </li>
      <li class='photo'><span class='mobile-text'>Tap</span><span class='desktop-text'>Click</span> to see photo<img src="/p.png"/></li>
      <li class='track hidden'>GPX Track</li>
      <li class='highway'>Highway</li>
      <li class='automobile'>Automobile</li>
      <li class='jeep'>Jeep</li>
      <li class='atv'>ATV</li>
      <li class='motorcycle'>Motorcycle</li>
      <li class='non-motor'>Non-motorized</li>
      <li class='osm-path'>Informal path</li>
      <li class='seasonal'>Seasonal</li>
      <li class='credit'>
         <img src='/img/idaho-parks-rec.png'>
         Trail data from <a href="http://trails.idaho.gov">Idaho Parks &amp; Recreation</a> and
         mine data from <a href="http://www.idahogeology.org/Products/reverselook.asp?switch=title&value=Database_of_the_Mines_and_Prospects_of_Idaho">Idaho Geological Survey</a>
      </li>
   </ul>
   <div id='photo-preview'></div>
   <div id='map-canvas'></div>
</body>
</html>