<html>
<head>
	{{> head-meta}}
	{{> head-files}}
	<meta name="robots" content="noindex">
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.css' rel='stylesheet' />
   <link href='/css/mapbox.css' rel='stylesheet' type='text/css'/>
   <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.js'></script>
	<script type='text/javascript'>
		mapboxgl.accessToken = '{{config.mapbox.accessToken}}';
	</script>
	<script src='/js/mapbox.js' type='text/javascript' defer></script>
</head>
<body>
   <nav>
      <h1><a href="/" alt="Home Page" title="Home Page">{{config.site.title}}</a></h1>
      <div id='photo-count'></div>
      <div id='toggle-satellite'>{{{icon 'check'}}} {{{icon 'unchecked'}}} Satellite</div>
      <div id='zoom-out' class="disabled">{{{icon 'zoom-out'}}} Zoom Out</div>
   </nav>
   <div id='photo-preview'></div>
   <div id='map-canvas'></div>
</body>
</html>