<ul id="mobile-navigation">

	<li class="head"><a href="/about">About</a></li>
	<li><a href="/photo-tag">Photo Tags</a></li>
	<li><a href="/ruminations">Ruminations</a></li>
	<li><a href="/rss" class="feed-icon">RSS Feed</a></li>
	<li><a href="https://twitter.com/trailimage">Twitter</a></li>

{{#each library.tags}}
	<li class="title {{this.title}}">{{{icon this.icon}}}{{this.title}}
		<ul>
			{{#this.tags}}
				<li><a href="/tag/{{this.slug}}">{{this.title}}</a>({{this.posts.length}})</li>
			{{/this.tags}}
		</ul>
	</li>
{{/each}}
</ul>