{{{icon 'close'}}}

<ul class="links">
   <li><a href="/" rel="home">Home {{{icon 'home'}}}</a></li>
	<li><a href="/about" rel="author">About {{{icon 'info'}}}</a></li>
	<li><a href="/photo-tag" rel="search">Photo Tags {{{icon 'collections'}}}</a></li>
	<li><a href="/ruminations">Ruminations {{{icon 'local_florist'}}}</a></li>
   <li>Categories {{{icon 'label'}}}</li>
</ul>

<div class="menu-categories">
   {{#each blog.categories}}
   <select>
      <option class="label">{{this.title}}</option>
      {{#each this.subcategories}}
      <option value="/{{this.key}}">{{this.title}} ({{this.posts.size}})</option>
      {{/each}}
   </select>
   {{/each}}
</div>