<ul class="links">
	<li><a href="/" rel="home">Home {{{icon 'home'}}}</a></li>
	<li><a href="/about" rel="author">About {{{icon 'info-sign'}}}</a></li>
	<li><a href="/photo-tag" rel="search">Photo Tags {{{icon 'tags'}}}</a></li>
	<li><a href="/ruminations">Ruminations {{{icon 'leaf'}}}</a></li>
{{! contact-link}}
	<li><a href="/rss" class="feed-icon" rel="alternate" type="application/rss+xml">RSS Feed {{{icon 'fire'}}}</a></li>
	<li><a href="https://twitter.com/trailimage" rel="me">Twitter {{{icon 'comment'}}}</a></li>
</ul>

<ul class="tag-list">
{{#each library.tags}}
	<li class="{{lowerCase this.title}}">{{{icon this.icon}}}{{this.title}}</li>
{{/each}}
</ul>

{{{icon 'chevron-down'}}}

<nav class="tags">
{{#each library.tags}}
	<ul class="{{lowerCase this.title}}">
	{{#this.tags}}
		<li><a href="/{{this.slug}}" rel="tag">{{this.title}}</a><span class="count">({{this.posts.length}})</span></li>
	{{/this.tags}}
	</ul>
{{/each}}
</nav>