<ul class="links">
	<li><a href="/" rel="home">Home {{{icon 'home'}}}</a></li>
   <li><a href="/map">Map {{{icon 'map'}}}</a></li>
	<li><a href="/about" rel="author">About {{{icon 'info'}}}</a></li>
	<li><a href="/photo-tag" rel="search">Photo Tags {{{icon 'collections'}}}</a></li>
	<li><a href="/ruminations">Ruminations {{{icon 'local_florist'}}}</a></li>
{{! contact-link}}
	<li><a href="/rss" class="feed-icon" rel="alternate" type="application/rss+xml">RSS Feed {{{icon 'rss_feed'}}}</a></li>
	<li><a href="https://twitter.com/trailimage" rel="me">Twitter {{{icon 'forum'}}}</a></li>
</ul>

<ul class="category-list">
{{#each library.categories}}
	<li class="{{lowerCase this.title}}">{{this.title}}</li>
{{/each}}
</ul>

{{{icon 'arrow_downward'}}}

<nav class="categories">
{{#each blog.categories}}
	<ul class="{{lowerCase this.title}}">
	{{#each this.subcategories}}
		<li><a href="/{{this.key}}" rel="tag">{{this.title}}</a><span class="count">({{this.posts.size}})</span></li>
	{{/each}}
	</ul>
{{/each}}
</nav>