{{#contentFor "html-head"}}
	{{#unless post.feature}}
      {{! http://googlewebmastercentral.blogspot.com/2011/09/pagination-with-relnext-and-relprev.html }}
      {{#if post.previousIsPart}}
      <link rel="prev" href="/{{post.previous.key}}" />
      {{/if}}
      {{#if post.nextIsPart}}
      <link rel="next" href="/{{post.next.key}}" />
      {{/if}}
   {{/unless}}
   {{> head-facebook}}
   <script src='/js/post.js' type='text/javascript' defer></script>
{{/contentFor}}

{{#contentFor "header"}}
   {{#if post.isPartial}}
      <div class='subtitle'>
         <div class='parts'><span>Part </span>{{post.part}} of {{post.totalParts}}:</div>
         <p>{{post.subTitle}}</p>
      </div>
   {{/if}}

   {{#if post.happenedOn}}
		<div id="post-date">{{date post.happenedOn}}</div>
	{{/if}}
{{/contentFor}}

{{#if post.description}}
<div class="synopsis content">
	<p>{{post.description}}</p>
</div>
{{/if}}

<div class="post content">
	{{#unless post.feature}}
		{{> categories post.categories}}
		{{#if post.photoLocations}}
		{{! https://www.mapbox.com/api-documentation/#static }}
		<div class='map'>
         <a href="/{{slug}}/map" title="View Full Screen Map" rel="nofollow">
            <img
               src="/img/blank.png"
               width="{{config.style.contentWidth}}"
               height="200"
               class="static-map"
               data-locations="{{json post.photoLocations}}"
               data-href="https://api.mapbox.com/styles/v1/{{config.mapbox.style.static}}/static/-pins-/auto/{{config.style.contentWidth}}x200?access_token={{config.mapbox.accessToken}}&attribution=false&logo=false"/>
         </a>
		</div>
		{{/if}}
      <nav id="nav-top">{{> navigation}}</nav>
	{{/unless}}
</div>

<div id="light-box"><img src="/img/topo-map-tile.jpg"/></div>

{{#each post.photos}}

   <figure itemscope
      title="Click to enlarge image {{index}}"
      data-exif="/exif/{{id}}"
      style='width: {{size.normal.width}}px; height: {{size.normal.height}}px;'>
      {{! links from photo tag search are anchored to ID }}
      <a name="{{id}}"></a><a name="{{index}}"></a>
      {{! data-original attribute supports jquery.lazyload }}
      <img
         src="{{size.preview.url}}"
         alt="{{title}}"
         data-original="{{size.normal.url}}"
         style="width: {{size.normal.width}}px; height: {{size.normal.height}}px;"
         data-big="{{size.big.url}}"
         data-big-width="{{size.big.width}}"
         data-big-height="{{size.big.height}}"/>
      <div class="info-button">{{{icon 'photo_camera'}}}<p>Camera Settings</p></div>

   {{#if tags.size}}
      <nav class="tags">
         {{{icon 'local_offer'}}}
         <h4>More photos like this</h4>
         {{{makeTagList tags}}}
      </nav>
   {{/if}}

   {{#if longitude}}
      {{! http://handlebarsjs.com/#paths }}
      <a class='map' title='View on map' href="/{{../post.key}}/map/{{id}}" rel="nofollow"><span>map</span>{{{icon 'map'}}}</a>
   {{/if}}

   {{#if title}}
      <figcaption><span>{{{formatTitle title}}}</span></figcaption>
   {{/if}}
   {{#if sourceUrl}}
      <a class="source-link" href="http://{{sourceUrl}}">http://{{sourceUrl}}</a>
   {{/if}}
   </figure>

   <div class="caption content">{{{formatCaption description}}}</div>

{{/each}}

{{#if post.video}}
   <div class="video" style="width: {{{add post.video.width 8}}}px;">
      <iframe width="{{post.video.width}}" height="{{post.video.height}}" src="//www.youtube.com/embed/{{post.video.id}}?rel=0" frameborder="0" allowfullscreen></iframe>
   </div>
{{/if}}

	<nav id="nav-bottom">{{> navigation}}</nav>
   <div class='by-line content{{#if post.feature}} feature{{/if}}'>
      <p rel='author'>by {{config.owner.name}}</p>
   </div>
{{#unless post.feature}}
	<div class="footer-tags content">{{> categories post.categories}}</div>
{{/unless}}

	<footer class="post content">
		<div class="fb-comments" data-href="{{config.site.url}}/{{post.key}}/" data-width="648" data-num-posts="20"></div>
	</footer>
</div>
