{{#setting.facebook.enabled}}
{{> facebook-head}}
{{/setting.facebook.enabled}}

<div id="header" itemscope itemtype ="http://schema.org/BlogPosting" class="content">
	<div id="top">
	{{#if post.isPartial}}
		<h1 itemprop="name">{{post.title}}</h1>
		<div class='subTitle'>
			<div class='parts'>Part {{post.part}} of {{post.totalParts}}</div>
			{{post.subTitle}}
		</div>
	{{else}}
		<h1 itemprop="name">{{info.title._content}}</h1>
	{{/if}}
		<!--googleoff: index-->
		{{> menu}}
		<!--googleon: index-->
	</div>

	{{#if dateTaken}}
	<div id="postDate" itemprop="dateCreated">{{dateTaken}}</div>
	{{/if}}

	<div class="fb-like" data-href="http://{{setting.domain}}/{{slug}}/" data-send="true" data-width="550" data-show-faces="true" data-font="trebuchet ms"></div>

	{{#if video}}
	<a class="videoLink" href="#video">{{{icon 'film'}}}jump to the video</a>
	{{/if}}

	{{#if info.description._content}}
	<blockquote class="synopsis"><p itemprop="description">{{info.description._content}}<p></blockquote>
	{{/if}}

	{{> post-tags post.tags}}
	{{> navigation}}

	{{#if map}}
	<div class='map'>
		<img src="http://maps.googleapis.com/maps/api/staticmap?&maptype=terrain&scale=1&sensor=false&size=640x200&key={{setting.google.apiKey}}&markers={{map}}"/>
	</div>
	{{/if}}

</div>

{{#photos.photo}}

<div class="photo" itemscope itemtype="http://schema.org/ImageObject" style='width: {{width_l}}px;'>
	<a name="{{index}}" href="{{url_k}}" title="Click to enlarge (photo {{index}})">
		<img src="{{url_s}}" alt="{{title}}{{#if tags}} (content: {{tags}}){{/if}}"
			width="{{width_l}}" height="{{height_l}}" itemprop="url"
			style="width: {{width_l}}px; height: {{height_l}}px;"
			data-original="{{url_l}}"/>
	</a>

    <div class="exif" data-url="/exif/{{id}}">{{{icon 'camera'}}}<p>Camera Settings</p></div>

	{{#if longitude}}
		<a class='map' target='_blank' title='View on map' href="http://maps.google.com/maps?q={{latitude}},{{longitude}}&hl=en&t=w&z=15">map{{{icon 'map-marker'}}}</a>
	{{/if}}

	{{#if title}}
		<p><span itemprop="name">{{{formatTitle title}}}</span></p>
	{{/if}}
</div>

<div class="caption content" itemprop="description">{{{formatCaption description._content}}}</div>

{{/photos.photo}}

{{#if video}}
<a name="video">
<div class="video" itemscope itemtype="http://schema.org/VideoObject" style="width: {{{add video.width 8}}}px;">
	<iframe width="{{video.width}}" height="{{video.height}}" itemprop="url" src="http://www.youtube.com/embed/{{video.id}}?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
</a>
{{/if}}

{{> navigation}}
<div class="footer-tags content">{{> post-tags post.tags}}</div>
<div class='by-line content'><span>by</span>Jason Abbott</div>

<div id="footer" class="content">
	{{#setting.facebook.enabled}}
	<div class="fb-comments" data-href="http://{{setting.domain}}/{{slug}}/" data-width="648" data-num-posts="20"></div>
	{{/setting.facebook.enabled}}
	{{> footer}}
</div>

