<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
	{{> head-meta}}
{{#if keywords}}
	<meta content='Adventure, Scenery, Photography, {{keywords}}' name='keywords'/>
{{else}}
	<meta content='{{config.keywords}}' name='keywords'/>
{{/if}}
	<script type="text/javascript">
		window.feature = { sideMenu: false, postMenu: true, twitter: true, facebook: true, timestamp: {{config.timestamp}} };
	</script>
	{{! http://googlewebmastercentral.blogspot.com/2011/09/pagination-with-relnext-and-relprev.html }}
{{#if post.previousIsPart}}
	<link rel="prev" href="/{{post.previous.slug}}" />
{{/if}}
{{#if post.nextIsPart}}
	<link rel="next" href="/{{post.next.slug}}" />
{{/if}}
	{{> head-files}}
	{{> head-facebook}}
	{{> ga}}
	<script src='/js/post.js' type='text/javascript' defer></script>
</head>
{{! feature-based CSS classes allow conditional formatting }}
<body class="post{{#if post.dateTaken}} has-date{{/if}}{{#if post.tags}} has-tags{{/if}}{{#if post.photoCoordinates}} has-map{{/if}}{{#if post.previous}} has-nav{{/if}}">
	{{! script is loaded in /js/responsive.js }}
	<div id="fb-root"></div>
	{{> side-menu}}
	{{> bug}}
	<header itemscope itemtype="http://schema.org/BlogPosting" class="page post-header content">
		<!--googleoff: index-->
		<nav id="mobile-menu"></nav>
		<!--googleon: index-->
		<div id="top-bar">
		{{#if post.isPartial}}
			<h1 itemprop="name">{{post.title}}</h1>
			<div class='subtitle'>
				<div class='parts'>Part {{post.part}} of {{post.totalParts}}</div>
				{{post.subTitle}}
			</div>
		{{else}}
			<h1 itemprop="name">{{post.title}}</h1>
		{{/if}}

			<!--googleoff: index-->
			{{> post-menu}}
			<!--googleon: index-->
			<div id="mobile-menu-button">{{{icon "menu-hamburger"}}}</div>
		</div>

	{{#if post.dateTaken}}
	{{! outside top-bar to avoid its fixed positioning }}
		<div id="post-date" itemprop="dateCreated">{{post.dateTaken}}</div>
	{{/if}}

		<div class="fb-like" data-href="http://www.{{config.domain}}/{{slug}}/" data-send="true" data-width="550" data-show-faces="true" data-font="trebuchet ms"></div>

	{{#if post.video}}
		<a class="video-link" href="#video">{{{icon 'film'}}}jump to the video</a>
	{{/if}}

	{{#if post.description}}
		<blockquote class="synopsis">
			<p itemprop="description">{{post.description}}<p>
		</blockquote>
	{{/if}}

		{{> post-tags post.tags}}
		<nav id="nav-top">{{> navigation}}</nav>

	{{#if post.photoCoordinates}}
		<div class='map'>
			<a href="/{{slug}}/map" rel="nofollow"><img src="http://maps.googleapis.com/maps/api/staticmap?&maptype=terrain&scale=1&sensor=false&size=640x200&key={{config.google.apiKey}}&markers={{post.photoCoordinates}}"/></a>
		</div>
	{{/if}}
	</header>

	<div id="light-box"><img src="/img/topo-map-tile.jpg"/></div>

	{{#post.photos}}

	<figure itemscope itemtype="http://schema.org/ImageObject" style='width: {{size.normal.width}}px; max-width: 100%;'>
		{{! links from photo tag search are anchored to ID }}
		<a name="{{id}}"></a><a name="{{index}}"></a>
		{{! data-original attribute supports jquery.lazyload }}
		<img src="{{size.preview.url}}" alt="{{title}}" itemprop="url" data-original="{{size.normal.url}}"
			  style="width: {{size.normal.width}}px; max-width: 100%; height: auto;"
		     data-big="{{size.big.url}}" data-big-width="{{size.big.width}}" data-big-height="{{size.big.height}}"/>
		<aside class="exif" data-url="/exif/{{id}}">{{{icon 'camera'}}}<p class="desktop">Camera Settings</p><p class="mobile">Info</p></aside>

	{{#if tags}}
		<nav class="tags">
			{{{icon 'tags'}}}
			<h4>More photos like this</h4>
			{{{makeTagList tags}}}
		</nav>
	{{/if}}

	{{#if longitude}}
		<a class='map' title='View on map' href="/{{../../slug}}/map/{{id}}" rel="nofollow">map{{{icon 'map-marker'}}}</a>
	{{/if}}

	{{#if title}}
		<figcaption><span itemprop="name">{{{formatTitle title}}}</span></figcaption>
	{{/if}}
	{{#if sourceUrl}}
		<a class="source-link" href="http://{{sourceUrl}}">http://{{sourceUrl}}</a>
	{{/if}}
	</figure>

	<div class="caption content" itemprop="description">{{{formatCaption description}}}</div>

	{{/post.photos}}

{{#if post.video}}
	<a name="video">
		<div class="video" itemscope itemtype="http://schema.org/VideoObject" style="width: {{{add post.video.width 8}}}px;">
			<iframe width="{{post.video.width}}" height="{{post.video.height}}" itemprop="url" src="http://www.youtube.com/embed/{{post.video.id}}?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
	</a>
{{/if}}

	<nav id="nav-bottom">{{> navigation}}</nav>
	<div class="footer-tags content">{{> post-tags post.tags}}</div>
	<div class='by-line content'><p rel='author'><span>by</span>Jason Abbott</p></div>

	<footer class="post content">
		<div class="fb-comments" data-href="http://www.{{config.domain}}/{{slug}}/" data-width="648" data-num-posts="20"></div>
	</footer>
	{{> footer}}
</body>
</html>