{{#contentFor "head"}}
	<meta name="robots" content="noindex">
	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "WebSite",
		"url": "http://www.{{config.domain}}/",
		"logo": "http://www.{{config.domain}}/img/logo.png",
		"name": "Trail Image",
		"potentialAction": {
			"@type": "SearchAction",
			"target": "http://www.{{config.domain}}/search?q={search_term_string}",
			"query-input": "required name=search_term_string"
		}
	}
	</script>
{{/contentFor}}

<div class="post-tag content">
	<section class="posts">
	{{#posts}}
		<article class="summary">
			<header class="post">
				<ul class="info">
					<li class="date-taken">{{dateTaken}}</li>
  {{#if photoCount}}<li class="photo-count">{{photoCount}} photos{{#if video}} and a video{{/if}}</li>{{/if}}
				</ul>
				<a class="title" href="/{{slug}}">{{title}}{{#if subTitle}}: <span class="subtitle">{{subTitle}}</span>{{/if}}</a>
				<span class="mode-icon {{{mode}}}"></span>
				<div class="clear"></div>
			</header>

			<a class="thumb" title="View story" href="/{{slug}}"><img src="{{thumb.size.preview.url}}" width="{{thumb.size.preview.width}}" height="{{thumb.size.preview.height}}" style="width: {{thumb.size.preview.width}}px; height: {{thumb.size.preview.height}}px;"/></a>
		{{#if photoCoordinates}}
			<a class="map" title="View map" href="/{{slug}}/map" rel="nofollow"><img src="http://maps.googleapis.com/maps/api/staticmap?&maptype=terrain&scale=1&sensor=false&size={{subtract 650 thumb.size.preview.width}}x{{mapHeight thumb.size.preview.width thumb.size.preview.height}}&key={{../../config.google.apiKey}}&markers={{photoCoordinates}}"/></a>
		{{/if}}
			<section class="detail">
				<p class="summary">{{description}}</p>
				<ul class="tags">
				{{#each tags}}
					<li><a href="/tag/{{makeSlug this}}" rel="tag">{{{icon 'tag'}}}{{this}}</a></li>
				{{/each}}
				</ul>
			</section>
			<div class="clear"></div>
		</article>
	{{/posts}}
	</section>
</div>